<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.black-light"
    versionCode = "10"
    version     = "1.0.0" >

  <!-- versionCode is optional and Android only -->

  <name>Black Light</name>

  <description>
    An example for phonegap build docs.
  </description>

  <author href="https://www.splitanatom.com" email="info@splitanatom.com">
    Split An Atom
  </author>

  <preference name="fullscreen" value="true" />

  <gap:platform name="ios" />
  <gap:platform name="android" />
  <gap:platform name="winphone" />

  <!-- iPhone 6 / 6+ -->
  <icon src="icon-60@3x.png" gap:platform="ios" width="180" height="180" />

  <!-- iPhone / iPod Touch  -->
  <icon src="icon-60.png" gap:platform="ios" width="60" height="60" />
  <icon src="icon-60@2x.png" gap:platform="ios" width="120" height="120" />

  <!-- iPad -->
  <icon src="icon-76.png" gap:platform="ios" width="76" height="76" />
  <icon src="icon-76@2x.png" gap:platform="ios" width="152" height="152" />

  <!-- Settings Icon -->
  <icon src="icon-small.png" gap:platform="ios" width="29" height="29" />
  <icon src="icon-small@2x.png" gap:platform="ios" width="58" height="58" />

  <!-- Spotlight Icon -->
  <icon src="icon-40.png" gap:platform="ios" width="40" height="40" />
  <icon src="icon-40@2x.png" gap:platform="ios" width="80" height="80" />

  <icon src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
  <icon src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
  <icon src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
  <icon src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
  <icon src="xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
  <icon src="fr-xxhdpi.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />

  <icon src="icon.png" gap:platform="winphone" />
  <icon src="tileicon.png" gap:platform="winphone" gap:role="background" />

  <!-- iPhone and iPod touch -->
  <gap:splash src="Default.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="Default@2x.png" gap:platform="ios" width="640" height="960" />

  <!-- iPhone 5 / iPod Touch (5th Generation) -->
  <gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

  <!-- iPhone 6 -->
  <gap:splash src="Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
  <gap:splash src="Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
  <gap:splash src="Default-Landscape-736h@3x.png" gap:platform="ios" width="2208" height="1242" />

  <!-- iPad -->
  <gap:splash src="Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
  <gap:splash src="Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

  <!-- Retina iPad -->
  <gap:splash src="Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
  <gap:splash src="Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />

  <gap:splash src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
  <gap:splash src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
  <gap:splash src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
  <gap:splash src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
  <gap:splash src="fr-xhdpi.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
  <gap:splash src="portrait-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
  <gap:splash src="landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />

  <gap:splash src="splash/splash.jpg" gap:platform="winphone" />


</widget>